/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background: gainsboro;
}

.accordion{
    max-width: 800px;
}

.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background: skyblue;
    color: red;
    cursor: pointer;
}

.accordion .contentBx .label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before{
    content: "-";
}

.accordion .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content{
    height: 150px;
    padding: 20px;
} */

/* 2nd collapse section start */

body{
    background: gainsboro;
}

section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform .5s ease-in;
}
/* 2nd collapse section end */