@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    background: #ddd;
    max-width: 700px;
    margin: 20px auto;
}

.container .heading{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.container .accordion-container{
    padding: 0 20px;
}

.container .accordion-container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}

/* active class */
.container .accordion-container .accordion.active .accordion-heading{
    background: crimson;
}

.container .accordion-container .accordion.active .accordion-heading h3{
    color: #fff;
}

.container .accordion-container .accordion.active .accordion-heading svg{
    color: #fff;
    transform: rotate(180deg);
    transition: transform .2s .1s;
}

.container .accordion-container .accordion.active .accordion-content{
    display: block;
}

.container .accordion-container .accordion .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    border: 2px solid #000;
    padding: 15px 20px;
}

.container .accordion-container .accordion .accordion-heading h3{
    font-size: 25px;
}

.container .accordion-container .accordion .accordion-content{
    padding: 15px 20px;
    border: 2px solid #000;
    font-size: 15px;
    background: #fff;
    border: 0;
    display: none;
    animation: animate .2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

svg{
    width: 20px;
}

@keyframes animate {
    0%{
        transform: scaleY(0);
    }
}


/* nested content here */

.nested-accordion-content{
    padding: 15px 20px;
    border: 2px solid #000;
    font-size: 15px;
    background: #fff;
    border: 0;
    display: none;
    animation: animate .2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

.nested-accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    padding: 15px 20px;
}

/* nested active class */
.nested-accordion.active .nested-accordion-content{
    display: block;
}

.nested-accordion.active .nested-accordion-heading svg{
    color: #fff;
    transform: rotate(180deg);
    transition: transform .2s .1s;
}